div.post {
  background: #eee;
}

div.post div.info {
  float: left;
  width: 136px;
  padding: 0 10px;
}

div.post div.info img {]
  width: 128px;
  height: 128px;
  padding: 3px;
  border: 1px solid #DFDFDF;
}

div.post div.info ul {
  margin: 0;
  padding: 5px;
  background: #F9F9F9;
  list-style: none;
}

div.post div.info ul li {
  font-size: .7em;
}

div.post div.text {
  float: left;
  width: 743px;
  padding: 0 20px;
  border-left: 1px solid #DFDFDF;
  word-wrap: break-word;
}

div.post div.text h1 {
  margin: 0;
  padding: 0;
  font: 3em Georgia;
  line-height: 1.2em;
}

div.post div.text h1.category {
  color: #000;
}

div.post div.text h1.title {
  color: #111;
}

div.post div.text cite.author {
  margin: 0;
  padding: 0;
  font: italic 1.2em Georgia;
  color: #999;
}

div.post div.text cite.author a {
  font-weight: normal;
  color: #999;
}

div.post div.text div.description {
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  font-size: .8em;
  padding: .5em;
  line-height: 1.5em;
  margin: 1em 0;
  word-wrap: break-word;
}

div.post div.text p {
  font-size: 14px;
  line-height: 1.8em;
}

/*
  Post stub
*/

div.post-stub {
  margin: .3em 0;
  padding: .3em;
}

div.even {
  background: #eee;
}

div.odd {
  background: #ddd;
}

div.post-stub h1.title {
  display: inline;
  margin: 0;
  padding: 0;
  font: 1.3em Georgia;
  font-weight: normal;
}

div.post-stub h2.category {
  display: inline;
  margin: 0;
  padding: 0;
  font: 1.1em Georgia;
  font-weight: normal;
}

div.post-stub h2.category a {
  color: #eee;
}

div.post-stub div.avatar {
  float: left;
  margin-right: .5em;
}

div.post-stub div.avatar img {
  float: left;
  width: 32px;
  height: 32px;
  padding: 2px;
  border: 1px solid #DFDFDF;
}

div.post-stub p.description {
  margin: 0px;
  font-size: .8em;
  line-height: 1.5em;
}

div.post-stub p.description span.date {
  font-size: .9em;
  background: #efefef;
  padding: .3em;
/*  border: 1px solid #ccc;*/
}

div.post-stub div.info span {
  font-size: .8em;
  line-height: 2.7em;
  margin-left: .4em;
}

div.post-stub cite {
  font: italic .9em Georgia;
  color: #999;
}

div.post-stub cite a {
  color: #777;
}


/* Post body editor style */
#toolbar-post_body {
  margin: 0;
  padding: 0;
  list-style: none;
}

#toolbar-post_body li {
  display: inline;
}

#toolbar-post_body li a {
  padding: 2px;
  color: #666;
  background: #ddd;
  border: 1px solid #aaa;
  font-size: .8em;
  line-height: 30px;
}  

#post_body {
  width: 100%;
  border: 1px solid #aaa;
}
  
  