<div id="post-<%= stub.id %>" class="post-stub">
  <div class="avatar">
    <%= image_tag stub.user.gravatar_url(:default => 'identicon', :size => 32) %>
  </div>
  <h1><%= link_to(stub.title, stub) %></h1>
  <cite>by <%= link_to(stub.user.username, stub.user)  %></cite>

  
</div>

<div class="clear"></div>